{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% load custom_filters %}

{% block content %}
<div class="col-md-6 border rounded p-5 my-4 mx-auto shadow-sm bg-light">
    <h2 class="text-center mb-4">Sign In</h2>
    
    <form method="post">
		{% csrf_token %}

		<div class="row row-cols-1 mb-3">
			<label for="{{ form.username.id_for_label }}" class="form-label fw-semibold">
				{{ form.username.label }}
			</label>
			{{ form.username|add_class:"form-control" }}
			{% if form.username.errors %}
			<div class="text-danger">
				{{ form.username.errors }}
			</div>
			{% endif %}
		</div>
		<div class="row row-cols-1 mb-3">
			<label for="{{ form.password.id_for_label }}" class="form-label fw-semibold">
				{{ form.password.label }}
			</label>
			{{ form.password|add_class:"form-control" }}
			{% if form.password.errors %}
			<div class="text-danger">
				{{ form.password.errors }}
			</div>
			{% endif %}
		</div>
		<div class="text-danger">
			{{ form.non_field_errors }}
		</div>
	
		<button class="btn btn-success w-100 my-4" type="submit">Login</button>
	</form>		  

    <p class="text-center mt-3">
        Don't have an account? <a href="{% url 'register-page' %}" class="fw-bold text-decoration-none">Sign up</a>
    </p>

	<p class="text-center">
		Have you forgotten your password? <a href="{% url 'password_reset' %}" class="fw-bold text-decoration-none">Reset it</a>.
	</p>
</div>
{% endblock %}
